<h1>Bonjour! Veuillez confirmez votre e-mail!</h1>

<p>
    Veuillez clicker sur le lien pour confirmer votre adresse mail: <br><br>
    <a href="{{ signedUrl }}">Confirmez mon e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Salutation!
</p>
