{% extends 'base.html.twig' %}

{% block title %}Accueil | HeT
{% endblock %}


{% block body %}
<span class='mt-5 pt-5 '>
	<h2 class= 'mt-5 pt-5 text-white text-center'>Notre Let-motiv</h2>
	{% include "shared/_features.html.twig" %}
	</span>
	<script>
		$(document).ready(function () {
$('.btn_menu').click(function () {
$('.bd_noire').toggleClass('bd_noire2');
});
$("#message").animate({
'opacity': 0
}, 10000, function () {
$("#titre_content1").animate({
'opacity': 10000
}, 1000);
});
/*<!--je declare une variable-->*/
var scrolling = $('.scrollto');

/*<!--j'ecoute le click sur mon menu->*/
$(scrolling).click(function () { /*<!--je recupere l'Href deu scrolling-->*/
var href = $(this).attr("href");
/*<!--j'execute l'animation-->*/
$('html, body').animate({
scrollTop: $(href).offset().top
}, 2000);
return false;

});
});
	</script>
{% endblock %}
