 <!-- A Propos Start -->
    <div class="container-fluid mb-5 bg-info mt-5">
        <div class="row align-items-center">
            <div class="col-lg-6 px-0">
                <img width="100%" class="img-fluid" src="img/about.jpg" alt="Image">
            </div>
            <div class="col-lg-6 py-5 py-lg-0 px-3 px-lg-5">
                <h5 class="text-white mb-3">A Propos</h5>
                <h1 class="mb-4 text-white">20 ans d'experience</h1>
                <p class='text-white'>Nous collaborons avec les autorités locales depuis de nombreuses années</p>
                <div class="row py-2">
                    <div class="col-sm-6">
                        <h5 class="mt-2">Approuvé par le gouvernement Gasy</h5>
                        <p class="text-white">Nous sommes officiellement une association d'utilité publique</p>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mt-2">Audit regulier</h5>
                        <p class="text-white">Nous effectuons des udits reguliers afin de nous assurer de la bonne conformité de nos actions</p>
                    </div>
                </div>
                <a href="{{path('app_mission')}}" class="btn btn-lg px-4 btn-light">En Savoir plus</a>
            </div>
        </div>
    </div>
    <!-- A Propos End -->