<!-- la video en background -->
    {# <video muted autoplay loop src="assets\video\VBGv2.mp4" id="bgvid"></video> #}


<!-- Background-video Start -->

<div class="container-fluid p-0">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="video\VBGv2.mp4" type="video/mp4">
    </video>
</div>

<!-- background-video End -->