    <!-- Features Start -->
    <div class="container pt-5 mt-5 mb-5 bg-secondary">
        <div class="row">
            <div class="col-lg-5 mb-5">
                <h5 class="text-primary mb-3">Nos Actions</h5>
                <h1 class="mb-4 text-white">l'humain</h1>
                <img class="img-thumbnail mb-4 p-3" src="img/feature.jpg" alt="Image">
                <p>
                    L'ecole post baccalaureat formant des éducateur. Ce projet à vu le jour aprés 2 ans de preparation. Nous formons 10 educateurs par an. L'année prochaine , on doublerons les effectifs!
                </p>
                <a href="" class="btn btn-lg btn-primary mt-2">En Apprendre plus</a>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <h3 class="font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                                    style="width: 45px; height: 45px;">E</h3>
                                <h6 class="text-truncate m-0 text-white">Eucaliptus</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam
                                eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <h3 class="font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                                    style="width: 45px; height: 45px;">P</h3>
                                <h6 class="text-truncate m-0 text-white">Les Puits</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam
                                eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <h3 class="font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                                    style="width: 45px; height: 45px;">A</h3>
                                <h6 class="text-truncate m-0 text-white">Ambalakilonga</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam
                                eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <h3 class="font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                                    style="width: 45px; height: 45px;">U</h3>
                                <h6 class="text-truncate m-0 text-white">Université</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam
                                eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <h3 class="font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                                    style="width: 45px; height: 45px;">V</h3>
                                <h6 class="text-truncate m-0 text-white">Villageois</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam
                                eos rebum sit</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <h3 class=" font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                                    style="width: 45px; height: 45px;">AL</h3>
                                <h6 class="text-truncate m-0 text-white">Artisanat Locale</h6>
                            </div>
                            <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam
                                eos rebum sit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->