    <!-- Footer Debut -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="text-center text-white pr-5">Human <br> <span><img src="{{asset('img/favicon.png') }}" id="img_titre" alt="titre">- <br> Terre</span></h1>
                <p class="m-0 text-justify">Nous sommes engagé dans une lutte. Une lutte pour la survit de nos freres et soeurs. nous avons commencer
                    nos ooeuvre loin de notre patrie, loin de nos codes culturels. Nous avons pleinement conscience de la necessité de mener des actions concretes. partout, pour ce qu'il nous reste de temps. 
                    Nous désirons agir pour l'humanité et pour cela il nous a fallu commencer là ou nos relations
                    nos amis, et pour certains nos familles exprimaient une veritable demande. Nous avons pris les problematiques à bras le corps, avec naiveté souvent, mais surtout avec l'energie candide et sans restriction, toujours.
                    Human e-Terre, avec le support d'Ambalakilonga est le premisce de réponse face à l'urgence climatique et humanitaire.</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Liens</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Accueil</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>HeT</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Missions</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Projets</a>
                            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Nous Contacter</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Liens externes</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Ambalakilonga</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Educatori Sanza Frontiere</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Ministere de l'éducation</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Exodus onlus</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Contactons Nous!</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Centre Ecar, Fianarantsoa, MADAGASCAR</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+261 xx xx xx</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@humaneterre.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                                style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                                style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                                style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3 bg-info">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="#">Human E-Terre</a>. Tout droits réservés
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Confidentialités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Conditions</a>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer Fin -->