    <!-- Header Start -->
    <header class="container-fluid mt-5 position-relative">
            <span class="row h-25"></span>
            <h1 class="text-center text-white  mt-5 pt-5">Human <span><img src="img\favicon.png" id="img_titre" alt="titre">-Terre</span></h1>
            <h2 class="text-center text-white mt-5">Au Coeur de l'Homme</h2>
        </div>
                
    </header>
    <!-- Header End -->