    <!-- Services Start -->
    <div class="container pt-5">
        <div class="d-flex flex-column text-center mb-5">
            <h5 class="text-light mb-3">Nos Missions</h5>
            <h1 class="m-0 text-primary">3 axes essentiels</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <img class="card-img-top" src="img/service-1.jpg" alt="">
                    <div class="card-body bg-secondary d-flex align-items-center p-0">
                        <h3 class="flaticon-approved font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                            style="width: 45px; height: 45px;"></h3>
                        <h6 class="card-title text-white text-truncate m-0">replantation</h6>
                    </div>
                    <div class="card-footer">
                        Après deux années de recherche pour sélectionner une ONG partenaire et un village communautaire d'accueil.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <img class="card-img-top" src="img/service-2.jpg" alt="">
                    <div class="card-body bg-secondary d-flex align-items-center p-0">
                        <h3 class="flaticon-approved font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                            style="width: 45px; height: 45px;"></h3>
                        <h6 class="card-title text-white text-truncate m-0">ecole primaire</h6>
                    </div>
                    <div class="card-footer">
                        Mobiliser le langage dans toutes ses dimensions.
                        Agir, s'exprimer, comprendre à travers l'activité physique.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <img class="card-img-top" src="img/service-3.jpg" alt="">
                    <div class="card-body bg-secondary d-flex align-items-center p-0">
                        <h3 class="flaticon-approved font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                            style="width: 45px; height: 45px;"></h3>
                        <h6 class="card-title text-white text-truncate m-0">artisanat</h6>
                    </div>
                    <div class="card-footer">
                        Promotion des activités professionnelles de fabrication, de transformation, de réparation, de prestation de services 
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <img class="card-img-top" src="img/service-4.jpg" alt="">
                    <div class="card-body bg-secondary d-flex align-items-center p-0">
                        <h3 class="flaticon-approved font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                            style="width: 45px; height: 45px;"></h3>
                        <h6 class="card-title text-white text-truncate m-0">irrigation</h6>
                    </div>
                    <div class="card-footer">
                        L'irrigation est une technique destinée à corriger le déficit pluviométrique au bénéfice de la production agricole.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <img class="card-img-top" src="img/service-5.jpg" alt="">
                    <div class="card-body bg-secondary d-flex align-items-center p-0">
                        <h3 class="flaticon-approved font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                            style="width: 45px; height: 45px;"></h3>
                        <h6 class="card-title text-white text-truncate m-0">etudes universitaires</h6>
                    </div>
                    <div class="card-footer">
                        Agronomie Génie agroenvironnemental, Génie alimentaire Sciences et technologie des aliments Géomatique.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mb-2 p-3">
                    <img class="card-img-top" src="img/service-6.jpg" alt="">
                    <div class="card-body bg-secondary d-flex align-items-center p-0">
                        <h3 class="flaticon-approved font-weight-normal d-flex flex-shrink-0 align-items-center justify-content-center bg-primary text-white m-0 mr-3"
                            style="width: 45px; height: 45px;"></h3>
                        <h6 class="card-title text-white text-truncate m-0">Production locale</h6>
                    </div>
                    <div class="card-footer">
                        Le programme EQUITE a pour objectif de contribuer au développement économique durable de cinq pays à bas revenus
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->