    <!-- skillZZ Start -->
    <div class="container-fluid py-5 py-lg-0 feature bg-secondary">
        <div class="row py-5 py-lg-0">
            <div class="col-lg-4 p-0">
                <div class="feature-item d-flex align-items-center border-right px-5 mb-4 mb-lg-0">
                    <i class="fa fa-5x fa-school mr-4 text-primary"></i>
                    <div class="">
                        <h5 class="mb-3 text-light">education</h5>
                        <p class=" text-primary">Nous mettons sur pied des actions de sensibilisation à l'alphabetisation au sein des  villages, et nous ouvrons des ecoles.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="feature-item d-flex align-items-center border-right px-5 mb-4 mb-lg-0">
                    <i class="fa-solid fa-5x fa-droplet mr-4 text-primary"></i>
                    <div class="">
                        <h5 class="mb-3 text-light">environnement</h5>
                        <p class=" text-primary">Nous travaillons avec l'office General Des Forets, en partenariat avec l'association de preservation de la flore afin de proceder à la replantation d'arbres et d'essences andemiques.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="feature-item d-flex align-items-center px-5">
                    <i class="fa-solid fa-5x fa-arrows-to-dot mr-4 text-primary"></i>
                    <div class="">
                        <h5 class="mb-3 text-light">commerce équitable</h5>
                        <p class=" text-primary">Avec la mise en relation directe entre artisans et clients par notre application web d'e-commerce, le tissus économique reprends vie.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- skillZZ End -->