    <!-- Team Start -->
    <div class="container pt-5 pb-3 bg-light">
        <div class="d-flex flex-column text-center mb-5">
            <h5 class="text-primary mb-3">Notre Equipe</h5>
            <h1 class="m-0">human e-terre</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="row mb-2 align-items-center">
                    <div class="col-6 text-right">
                        <h6>Cheffe de Projet</h6>
                        <h6 class="text-muted font-weight-normal text-capitalize mb-2">Cristina</h6>
                        <p>Nous oeuvrons pour une humanité restauré.</p>
                        <div class="d-flex justify-content-end">
                            <a href=""><i class="fab fa-twitter mr-3"></i></a>
                            <a href=""><i class="fab fa-facebook-f mr-3"></i></a>
                            <a href=""><i class="fab fa-linkedin-in mr-3"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="img-thumbnail p-3" src="img/team-1.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="row mb-2 align-items-center">
                    <div class="col-6">
                        <img class="img-thumbnail p-3" src="img/team-2.jpg" alt="Image">
                    </div>
                    <div class="col-6 text-left">
                        <h6>educateur referent</h6>
                        <h6 class="text-muted font-weight-normal text-capitalize mb-2">Rosario</h6>
                        <p>C'etait un petit cheval blanc, tous derriere... Et malgrés le mauvais temps, il sera toujours au poste</p>
                        <div class="d-flex justify-content-start">
                            <a href=""><i class="fab fa-twitter mr-3"></i></a>
                            <a href=""><i class="fab fa-facebook-f mr-3"></i></a>
                            <a href=""><i class="fab fa-linkedin-in mr-3"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="row mb-2 align-items-center">
                    <div class="col-6 text-right">
                        <h6>Secretaire</h6>
                        <h6 class="text-muted font-weight-normal text-capitalize mb-2">Stevy</h6>
                        <p>Sa phrase fetiche:"C'est combien? Et pourquoi? Ok, mais juste cette fois là.."" </p>
                        <div class="d-flex justify-content-end">
                            <a href=""><i class="fab fa-twitter mr-3"></i></a>
                            <a href=""><i class="fab fa-facebook-f mr-3"></i></a>
                            <a href=""><i class="fab fa-linkedin-in mr-3"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="img-thumbnail p-3" src="img/team-3.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="row mb-2 align-items-center">
                    <div class="col-6">
                        <img class="img-thumbnail p-3" src="img/team-4.jpg" alt="Image">
                    </div>
                    <div class="col-6 text-left">
                        <h6>President</h6>
                        <h6 class="text-muted font-weight-normal text-capitalize mb-2">Don Qui Shoot</h6>
                        <p>A l'origine d'human e-terre et des associations soeurs</p>
                        <div class="d-flex justify-content-start">
                            <a href=""><i class="fab fa-twitter mr-3"></i></a>
                            <a href=""><i class="fab fa-facebook-f mr-3"></i></a>
                            <a href=""><i class="fab fa-linkedin-in mr-3"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->