
    <!-- Temoignage Start -->
    <div class="container-fluid my-5 p-0 py-5" style="background: #f6f6f6;">
        <div class="container p-0 py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h5 class="text-primary mb-3">Témoignages</h5>
                <h1 class="m-0">Que disent nos anciens volontaires</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        Super experience! J'y retournerai. J'ai enfin trouver la salvation apres d'human e-terre. Mes priorités de vie ont changé. Je suis fiere de nos actions
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-1.jpg"
                            style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Claudia</h6>
                            <p class="m-0">Educatrice</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        Je n'aurais jamais penser participer à une telle entreprise. Human e-terre est la meilleur experience humaine de ma vie.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-2.jpg"
                            style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Annie</h6>
                            <p class="m-0">Formatrice</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        Super experience! J'y retournerai. J'ai enfin trouver la salvation apres d'human e-terre. Mes priorités de vie ont changé. Je suis fiere de nos actions
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-3.jpg"
                            style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Blanche</h6>
                            <p class="m-0">Ingenieure</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item px-3">
                    <div class="testimonial-text position-relative border bg-light mb-4 py-3 px-4">
                        je n'aurais jamais penser participer à une telle entreprise. Human e-terre est la meilleur experience humaine de ma vie.
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="img-thumbnail bg-light rounded-circle" src="img/testimonial-4.jpg"
                            style="width: 80px; height: 80px; padding: 12px;" alt="Image">
                        <div class="pl-4">
                            <h6 class="text-primary">Stéphane</h6>
                            <p class="m-0">Comptable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Temoignage End -->